<!DOCTYPE html>
<html>
<head>

    #include("/en/baseUrl.html")
    <!--<base href="http://localhost/lotusprizeV2Web/">-->

    <link href="css/lib/jquery.toastmessage.css" rel="stylesheet" type="text/css">
    <link href="css/src/common.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="js/lib/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.form.js"></script>
    <script type="text/javascript" src="js/lib/jquery.validate.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.toastmessage.js"></script>
    <script type="text/javascript" src="js/src/en/config.js"></script>
    <script type="text/javascript" src="js/src/user/changeProfile.js"></script>
    <script type="text/javascript">
        var href="s/account/info?_lang=en";
    </script>

</head>
<body class="enBody">
#parse("/en/header.html")
<section class="main">
    #parse("/user/en/userMenu.html")
    <article class="content frontContent">
        <header class="pageHeader">
            <h3 class="pageTitle">Edit</h3>
        </header>
        <form action="s/account/info" method="post" id="changeProfileForm">

            <div class="row">
                <label class="labelTxt" >Email</label>
                <label class="labelTxt txtGray" >${account.email}</label>
            </div>
            <div class="row">
                <label class="labelTxt" for="registerFullName">Full name</label>
                <input class="txt" id="registerFullName"
                       type="text" name="fullname" value="$escapeTool.html(${account.fullname})" placeholder="Please enter your full name">
                <!--<span class="requiredFlag">*</span>-->
            </div>
            <div class="row">
                <label class="labelTxt" for="sex">Gender</label>
                <div id="sex" class="radios">
                    #if($account.accountProfile.gender=="2")
                        <input  id="male" type="radio" name="gender" value="1" >
                        <label for="male">Male</label>
                        <input  id="female" type="radio" name="gender" value="2" checked>
                        <label for="female">Female</label>
                    #else
                        <input  id="male" type="radio" name="gender" value="1" checked>
                        <label for="male">Male</label>
                        <input  id="female" type="radio" name="gender" value="2" >
                        <label for="female">Female</label>
                    #end
                </div>
            </div>
            <div class="row">
                <label class="labelTxt" for="registerMobile">Mobile</label>
                <input class="txt" id="registerMobile"
                       type="text" name="mobile" value="$escapeTool.html(${account.mobile})"
                       placeholder="+86 0731-98989898/+86 13892932933">
                <!--<span class="requiredFlag">*</span>-->
            </div>
            <div class="row">
                <label class="labelTxt" for="registerAddress">Address</label>
                <input class="txt" id="registerAddress" value="$escapeTool.html(${account.address})" type="text"
                       name="address" placeholder="Please enter your mailing address">
                <!--<span class="requiredFlag">*</span>-->
            </div>
            <div class="row">
                <label class="labelTxt" for="registerOrg">Organization</label>
                #if($account.accountProfile.organization)
                <input class="txt" id="registerOrg" value="$escapeTool.html(${account.accountProfile.organization})" type="text"
                       name="organization" placeholder="Please enter your unit/colleges">
                #else
                <input class="txt" id="registerOrg" type="text"
                       name="organization" placeholder="Please enter your unit/colleges">
                #end

            </div>
            <div class="row">
                <input type="submit" value="Save" class="btn submitBtn">
            </div>
        </form>
    </article>
</section>

#include("/en/footer.html")
</body>
</html>