<!DOCTYPE html>
<html>
<head>

    #include("/en/baseUrl.html")
    <!--<base href="http://localhost/lotusprizeV2Web/">-->

    <link href="css/lib/jquery.toastmessage.css" rel="stylesheet" type="text/css">
    <link href="css/src/common.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="js/lib/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.form.js"></script>
    <script type="text/javascript" src="js/lib/jquery.validate.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.toastmessage.js"></script>
    <script type="text/javascript" src="js/src/en/config.js"></script>
    <script type="text/javascript" src="js/src/user/resetPwd.js"></script>
    <script type="text/javascript">
        var href="s/account/password?_lang=en";
    </script>
</head>
<body class="enBody">
#parse("/en/header.html")
<section class="main">
    #parse("/user/en/userMenu.html")
    <article class="content frontContent">
        <header class="pageHeader">
            <h3 class="pageTitle">Change Password</h3>
        </header>
        <form action="s/account/password" method="post" id="resetPwdForm">

            <div class="row">
                <label class="labelTxt" for="password">Old Password</label>
                <input class="txt" id="password" name="oldPassword" type="password">
            </div>
           <!-- <div class="row percentRow">
                <hr>
            </div>-->
            <div class="row">
                <label class="labelTxt" for="newPassword">New Password</label>
                <input class="txt" id="newPassword"name="newPassword" type="password">
            </div>
            <div class="row">
                <label class="labelTxt" for="newConfirmPwd">Confirm</label>
                <input class="txt" id="newConfirmPwd" name="newConfirmPwd" type="password">
            </div>
            <div class="row">
                <input type="submit" value="Save" class="btn submitBtn">
            </div>
        </form>
    </article>
</section>

#include("/en/footer.html")
</body>
</html>