<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>2014第四届“芙蓉杯”国际工业设计创新大赛协议</title>
    <style>
        .agreementBody{
            margin:0px;
            padding: 0px;
            font-family:"微软雅黑", "黑体", Arial, "Times New Roman", Verdana;
        }
        .agreementTitle{
            text-align: center;
        }
        .agreementBody p{
            line-height: 32px;
        }
    </style>
</head>
<body class="agreementBody" >
<div id="agreementBody">
    <h1 class="agreementTitle">Entry Conditions</h1>
    <h3>1.	Entry</h3>
    <p>
        i)	Eligibility
    </p>
    <p>
        Designers, students and registered companies can submit design topics and submit submissions for adjudication.
        Non designers may only be permitted to enter the ‘Citizen Discovery’ under Category B: Social Innovation and
        are not eligible for adjudication. All participants should voluntarily abide to competition rules and conditions.
    </p>
    <p>
        ii)	Registration
    </p>
    <p>
        All participants should register on our official website (no entry fee) and agree to the competition’s terms and conditions.
        The Official Website for ‘LotusPrize’ International Industrial Design and Innovation Competition: http://www.lotusprize.com
        The competition committee will respond to your registration upon the confirmation of the submission of your filled application.
    </p>
    <p>
        iii)	Submission
    </p>
    <p>
        All entries must be submitted via our official website (http://www.lotusprize.com). Contestants may register and submit entries from 10 May till 30 June.
    </p>
    <p>
        Details below:
    </p>
    <p>
        a)	Unless otherwise specified, images (maximum of three) must be A3 in size (420mm x 297mm),
        landscape orientation, jpg format and 150dpi. Images must include the topic, renderings or photos,
        core structure (component) drawings, basic sizing and description in Chinese/English.
        Finalist designs must provide more accurate and detailed information,
        including but not limited to models and/or videos.
        The organization committee will provide suitable model making fees depending on the level of completion.
    </p>
    <p>
        b)	Participants may enter in group form, with a maximum of 6 people per group.
    </p>
    <p>
        c)	To ensure the impartiality of the competition, the entries may not have any sort of text or images of companies, names (including abbreviations) or anything information to identify the contestants. All entries presented to the juries for assessment must remain anonymous. The entries will be numbered according to submission time and passed on to the juries.
    </p>
    <p>
        d)	Contestants may contact the competition committee in writing to remove their entry but submitted materials (excluding objects/models) will not be returned so please keep a spare copy. If contestants require models to be returned after the competition, it must be stated during registration and postage is at the cost of the competitor.
    </p>


    <h3>2.	Method of Assessment</h3>
    <p>i)	Judging Criteria</p>
    <p>
        Feasible: the most important criteria are the feasibility to the chosen topic given by companies.
        The entries should able to be converted to usable products and suitable for mass manufacturing (weighing 40%);
    </p>
    <p>
        Innovative: effectively use new technology, new materials, new crafts;
        unique innovations that could provide new solutions for current issues;
        can lead new trends for the manufacturing, information, intelligent products and service design industry (weighing 20%);
    </p>
    <p>
        Economical: suitable for present design development trends, economically and effectively use social and environmental
        resources, have high commercial value and market potential, high value for money design and innovative business model (weighing 20%);
    </p>
    <p>
        Environmental: green, low carbon, energy efficient, new energy; considering the ecological compatibility, being responsible,
        insightful and considerate for society and the environment (weighing 20%).
    </p>
    <p>
        ii)	Judging Regulations
    </p>
    <p>
        a)	Judging of ‘Innovative Design Award’
    </p>
    <p>
        Juries are comprised of the topic giving company (1 from each company) and 9 professional juries (in 3 groups of 3).
        All given topics will select out 3 winners according to the completeness of the entry and will estimate to select
        out approximately 150 entries (low participation numbers or incomplete entries may be left vacant). After selection,
        the competition committee will post entries online for public voting.
        The 6 highest entries will be awarded the ‘Netizen’s Choice Award’.
    </p>
    <p>
        b)	Judging of the ‘Incubation Programme’
    </p>
    <p>
        4 international juries and 4 mentors will be judging for this award.
        24 entries from the selected 150 ‘Innovative Design Award’ will be given the chance to further develop their design.
        4 mentors will provide mentoring for the selectees and given a subsidiary from the competition committee for
        model making and patent applications.
    </p>
    <p>
        c)	Final Adjudication and Award Ceremony
    </p>
    <p>
        The Final Adjudication will be judged by 4-10 international juries and 10 internet juries.
        The 24 contestants from the incubation programme will gather in Changsha to participate in the ‘Start-up Workshop’.
        The last day of the workshop will be ‘Demo Day’, openly demonstrating works to all the juries and the final winner will be chosen.
        The 10 internet juries are representatives of the internet industry and venture capitalists.
        They will comment on the entry’s market assessment and incubating methods.
        The competition committee will organize awards and relevant media promotions.
    </p>

    <h3>
        3.	Legal Disclaimer
    </h3>
    <p>
        i)	Students and professional designers participate under the same rules and terms,
        with the same prizes and are all equally included in the running to have their design work developed.
    </p>
    <p>
        ii)	The competition awards will be given according to quality thus allowing vacant award spots;
        any disputes over awards will be settled on the decisions of the juries and the juror’s decision is final and abiding.
    </p>
    <p>
        iii)	The competition committee will not be responsible for any tax occurred in the prize money.
    </p>
    <p>
        iv)	The prize money does not include remuneration for the use of designer's copyright.
    </p>
    <p>
        v)	Individuals as well as any relative (colleague, design firm, team or family member) directly
        or indirectly concerned with the competition organization, jury or adjudication are automatically excluded from competing,
        as well as excluded from carrying out, assisting or consulting in any way an entry to the competition.
        Any involvement will result in automatic disqualification from the competition.
    </p>
    <p>
        vi)	The juror's decision is final and abiding - no correspondence will be entered into (between jury and entrants)
        and that by participating in the competition, jury and entrants agree to this process.
    </p>
    <p>
        vii)	The organizing committee holds the right to substitute a jury member in case of illness or unavailability.
    </p>
    <p>
        viii)	The organizing committee will ensure the jury decisions and reporting are carried out according to the agreed
        process, but not take part in the jury’s duties nor decision making in any way.
    </p>
    <p>
        ix)	The payment of prize money gives the organizer an option to use the prize-winning designs for a period of five years.
        This period begins from the day the jury has agreed on the competition winners.
    </p>
    <p>
        x)	The competition organizer, collaborating enterprises and the media has the right to use entries and relevant
        materials for free (at no cost) to promote, exhibit, display (on and offline) and produce promotional materials
        including but not limited to videos, models, images etc. for non-commercial purposes for a period of five years.
    </p>
    <p>
        xi)	The design development fees are a separate budget consideration to be negotiated with the designer.
        The negotiation timeframe should not exceed 12 months unless otherwise notified.
    </p>
    <p>
        xii)	The design development terms and remuneration that apply to the use of design development work will
        be negotiated with the designer depending on the level of development of the design.
    </p>
    <p>
        xiii)	Chosen winning entries may be placed into exhibitions and published for promotional purposes for both the designer and competition.
        The exhibitions may include but not limited to: the 2015 World Expo,
        Milan Design Week and 100% Design London. All winning entries will be published in the ‘LotusPrize’ Collection of Works.
    </p>
    <p>
        xiv)	Entrants that did not win a prize hold the right to refuse exhibition or publication of their works.
    </p>
    <p>
        xv)	The reproduction rights are subject to a payment of a fee or royalty to be negotiated with the individual designer or design team.
    </p>
    <p>
        xvi)	The organizing committee may use any design entered in the competition that has not received a prize for promotional purposes for a period of five years.
    </p>
    <p>
        xvii)	The organizing committee may not alter or amend in any way, the work submitted without the written agreement of the designer.
    </p>
    <p>
        xviii)	When a prize winning or other designs are to be reproduced, produced or otherwise carried out, the contestant shall be commissioned to develop the design to the requisite stage.
    </p>
    <p>
        xix)	If the successful contestant does not have the necessary experience or facilities available for the
        successful completion or production or is unable to undertake such work within a reasonable period after the result
        of the competition has been announced, then a consultant or design organization may be recommended by the jury to
        collaborate with the contestant.
    </p>
    <p>
        xx)	The contestant must be present or consulted in and discussion, by any group, of ideas or development based on the entry’s design submitted.
        The fee for any development discussion will be negotiated with the organizer and the entrant.
    </p>
    <p>
        xxi)	All rights will be explained by the competition committee under the legal framework.
    </p>

    <h3>4.	Competition Copyright Declaration</h3>
    <p>i)	All Entries</p>
    <p>
        a)	All entries must be original and has not been published on any occasions,
        including but not limited to paper, magazine, internet, television and not been entered in other competitions.
    </p>
    <p>
        b)	The intellectual property of the entries belongs to the contestants.
        All legal issues such as reputation, copyright, image rights are borne by the contestant.
        The contestants should ensure they have full intellectual property rights for their entries and does not
        infringe or copy other’s intellectual property rights. Any entries that does not declare or refuse to declare
        will be removed of their rights to participate in the competition. The competition committee has the right
        to remove any entries at any time that have found to have plagiarized or have any other infringement behaviour
        will be removed of their right to participate and winning the competition. The winner will also be revoked of
        all prize money, prizes, certification and any media promotion. The winner will also have to bear all damages
        if the competition organizer was fined, have economical or reputation damage due to a third party claiming infringement
        rights.
    </p>
    <p>
        c)	The competition organizer, collaborating enterprises and the media has the right to use entries (such as images,
        videos, models etc) and relevant materials for free (at no cost) to promote, exhibit, display (on and offline)
        and produce promotional materials including but not limited to videos, models, images etc. for non-commercial
        purposes and for a period of five years. Non-commercial purposes mean the promotion of the competition.
    </p>
    <p>
        ii)	Winning Entries
    </p>
    <p>a)	Pre ‘Incubation Programme’ Entries</p>
    <p>
        The intellectual property rights of the entries belong to the contestants.
        The competition organizer and the enterprises that the entries were entered to have usage rights and have the
        right to promote or display the entries.
    </p>
    <p>b)	Entries accepted into the ‘Incubation Programme’</p>
    <p>
        For entries that have gone through the competition’s incubation service which possess the potential
        to be manufactured and profited from, the competition organizer and the enterprises the entry was entered into,
        have usage rights and the right to promote or display the entries; intellectual rights will be further negotiated
        between three parties (the competition organizer, entered enterprise and contestant).
    </p>
</div>
</body>
</html>