<!DOCTYPE html>
<html>
<head>

    #include("/en/baseUrl.html")
    <!--<base href="http://localhost/lotusprizeV2Web/">-->

    <link href="css/src/common.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="js/lib/jquery-2.0.3.min.js"></script>
    <!--[if lte IE 9]>
    <script src="js/lib/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" src="js/lib/jquery.form.js"></script>
    <script type="text/javascript" src="js/lib/jquery.validate.min.js"></script>
    <script type="text/javascript" src="js/src/en/config.js"></script>
    <script type="text/javascript" src="js/src/forgetPwd.js"></script>
    <script type="text/javascript">
        var href="";
    </script>
</head>
<body class="enBody">
#parse("/en/loginHeader.html")
<section class="main">
    #include("/en/loginMenu.html")
    <article class="content frontContent">
        <header class="pageHeader">
            <h3 class="pageTitle">Forgot password</h3>
        </header>
        <form action="s/account/forgetPassword?_lang=en" method="post" id="forgetPwdForm">
            <input type="hidden" name="forgetPasswordToken" value=${forgetPasswordToken}>
            <div class="row">
                <label class="labelTxt" for="email">Email</label>
                <input class="txt" id="email" type="text" maxlength="60"
                       name="email" title="example@example.com" placeholder="Please enter your email" required>
            </div>

            <div class="row">
                <input type="submit" value="confirm" class="btn submitBtn">
            </div>
        </form>
        <div class="row hidden" id="tip">
            <p class="hasLeftMargin">The password has passed<a href="s/login?_lang=en" id="emailUrl" target="_blank" class="txtGreen">E-mail</a>sent to your mailbox，Please enter the email for checking！</p>
            <a href="s/login?_lang=en" class="btn submitBtn">Return to the login</a>
        </div>
    </article>
</section>
#include("/en/footer.html")
</body>
</html>