<!DOCTYPE html>
<html>
<head>

    #include("/en/baseUrl.html")
    <!--<base href="http://localhost/lotusprizeV2Web/">-->

    <link href="css/lib/jquery.toastmessage.css" rel="stylesheet" type="text/css">
    <link href="css/src/common.css" rel="stylesheet" type="text/css">
    
    <script type="text/javascript" src="js/lib/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.form.js"></script>
    <script type="text/javascript" src="js/lib/jquery.validate.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.toastmessage.js"></script>
    <script type="text/javascript" src="js/src/en/config.js"></script>
    <script type="text/javascript" src="js/src/register.js"></script>
    <script>
        var href="";
    </script>
</head>
<body class="enBody">
#parse("/en/loginHeader.html")
<section class="main">
    #include("/en/loginMenu.html")
    <article class="content frontContent">
        <form action="s/account/register?_lang=en" method="post" id="registerForm">
            <input type="hidden" name="registerToken" value=${registerToken}>
            <header class="pageHeader">
                <h3 class="pageTitle">Register</h3>
            </header>
            <div class="row">
                <label class="labelTxt" for="registerEmail">Email</label>
                <input class="txt" id="registerEmail" type="text" name="email"
                       placeholder="Please enter your email" >
            </div>
            <div class="row">
                <label class="labelTxt" for="registerFullName">Name</label>
                <input class="txt" id="registerFullName"
                       type="text" name="fullname"  placeholder="Please enter your full name">
            </div>
            <!--<div class="row">
                <label class="labelTxt" for="sex">gender</label>
                <div id="sex" class="radios">
                    <input  id="male" type="radio" value="male" name="gender" checked>
                    <label for="male">male</label>
                    <input  id="female" type="radio" value="female" name="gender">
                    <label for="female">gender</label>
                </div>
            </div>-->
            <div class="row">
                <label class="labelTxt" for="registerMobile">Telephone</label>
                <input class="txt" id="registerMobile" type="text" name="mobile"
                       placeholder="+86 0731-98989898/+86 13892932933">
            </div>
            <div class="row">
                <label class="labelTxt" for="registerAddress">Address</label>
                <input class="txt" id="registerAddress" type="text"
                       name="address" placeholder="Please enter your mailing address">
            </div>
            <div class="row">
                <label class="labelTxt" for="registerOrg">Unit/Colleges</label>
                <input class="txt" id="registerOrg" type="text"
                       name="organization" placeholder="Please enter your unit/colleges">
            </div>
            <div class="row percentRow">
                <hr>
            </div>
            <div class="row">
                <label class="labelTxt" for="registerPwd">Password</label>
                <input class="txt" id="registerPwd" name="password" type="password">
            </div>
            <div class="row">
                <label class="labelTxt" for="registerConfirmPwd">Confirm</label>
                <input class="txt" id="registerConfirmPwd" name="confirmPwd" type="password">
            </div>
            <div class="row checkRow">
                <label class="labelTxt"></label>
                <input type="checkbox" id="agreeInput" name="agree" checked>
                <label>I agree with the <a id="agreement" href="view/en/agreement.html" target="_blank" class="txtGreen">agreement </a>
                    of contest</label>
            </div>
            <div class="row">
                <input type="submit" value="register" class="btn submitBtn">
            </div>
        </form>
        <div class="row hidden" id="tip">
            Registration is successful, please enter<a href="s/account/register" id="emailUrl" class="txtGreen"> to activate email</a>！
        </div>
    </article>
</section>

<!--显示协议-->
<div id="popWindow" class="popWindow positionFixed hidden">
    <div class="toolbar">
        <a href="#" id="closePopWindow">关闭</a>
    </div>
    <div class="agreementContent" id="agreementContent">

    </div>
    <input id="agree" type="button" class="btn agreementBtn" value="同意此协议">
</div>
#include("/en/footer.html")
</body>
</html>