<!DOCTYPE html>
<html>
<head>

    #include("/baseUrl.html")

    <!--<meta charset="utf-8">
    <base href="http://localhost/lotusprizeWeb2014/">
    <title>2014第四届“芙蓉杯”国际工业设计创新大赛</title>
    <link rel="shortcut icon" href="images/app/favicon.png" mce_href="images/app/favicon.png" type="image/x-png">-->

    <link href="css/lib/jquery.toastmessage.css" rel="stylesheet" type="text/css">
    <link type="text/css" rel="stylesheet" href="css/src/common.css">
    <script type="text/javascript" src="js/lib/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.jqpagination.min.js"></script>
    <script type="text/javascript" src="js/lib/juicer-min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.toastmessage.js"></script>
    <script type="text/javascript" src="js/lib/md5.min.js"></script>
    <script type="text/javascript" src="js/src/config.js"></script>
    <script type="text/javascript" src="js/src/user/showWork.js"></script>
    <script type="text/javascript" src="js/src/baiduAnalytics.js"></script>
    <style type="text/css">
        .topHeader{
            box-shadow: none;
        }
        .topicDetail .title{
            margin-top:0px;
        }
    </style>
    <script>
        var href="";
        var topicId='$!{topic.id}';
        var stage="${stage}";
    </script>
</head>
<body class="wpBody">
<script type="text/template" id="workArrayTpl">
    {@each workArray as work}
    <li class="item workItem">
        <a href="s/user/artifact/show/${work.id}?clientId=${clientId}" data-work-id="${work.id}">
            <img src="${work.profile}" class="thumb">
            <h3 class="workTitle" title="${work.title}">
                ${work.title}
            </h3>
            <p class="praise">
                <span title="${work.prize}">${work.prize}</span>
            </p>
        </a>
    </li>
    {@/each}
</script>

<!--http://192.168.2.167:9911/lotusprize/s/topicManager/topic/{id}-->
#parse("/wpHeader.html")

<div class="topicDetail">
    <img class="companyLogo" src="${topic.corpLogo}">
    <h2 class="title" title="${topic.name}">${topic.name}</h2>
    <p>${topic.corpName}</p>
    <span class="money">&yen;${topic.reward}</span>
</div>
<div class="content wpContent">
    <div  class="contentHeader">
        <div class="row">
            <input type="text" id="searchTitle" class="searchTxt txt" placeholder="搜索标题">
            <!--<span class="sortPanel">
                <label class="txtGray">排序：</label>
                <a href="#" class="DES active" data-order-by="score" id="orderByScore">评分</a>
                &nbsp;|&nbsp;
                <a href="#" class="DES init" data-order-by="time" id="orderByTime">时间</a>
                &nbsp;|&nbsp;
                <a href="#" class="DES init"  data-order-by="praise" id="orderByPraise">赞</a>
            </span>-->
            <!--<span class="sortPanel">
                 <label>状态：</label>
                <select id="statusSelect">
                    <option value="">全部</option>
                    <option value="1">待审核</option>
                    <option value="2">评审通过</option>
                    <option value="3">评审未通过</option>
                </select>
            </span>-->

        </div>
    </div>

    <ul class="itemList" id="workList">
        <!--<li class="item workItem">
            <a href="s/topic/view/${id}">
                <img src="images/app/defaultThumb.jpg" class="thumb">
                <h3 class="workTitle" title="dddd">作品的标题作品的标题作品的标题作品的标题作品的标题作品的标题作品的
                    标题作品的标题作品的标题作品的标题作品的标题作品的标题
                </h3>
                <p class="score">
                    资格审核中
                </p>
            </a>
        </li>-->

    </ul>
    <div id="ownPagination" class="ownPagination">
        <a href="#" class="first" data-action="first">首页</a>
        <a href="#" class="previous" data-action="previous">上一页</a>
        <input type="text" readonly="readonly" class="showPageInfo"/>
        <a href="#" class="next" data-action="next">下一页</a>
        <a href="#" class="last" data-action="last">末页</a>
    </div>
</div>

<!--显示作品-->
<div class="popWindowContainer hidden" id="popWindowContainer">
    <div id="popWindow" class="popWindow">
        <div class="toolbar">
            <a href="#" id="closePopWindow">关闭</a>
        </div>
        <div class="workInfo detailPageInfo" id="workInfo">

        </div>
    </div>
</div>

#include("/footer.html")
</body>
</html>