<!DOCTYPE html>
<html>
<head>

    #include("/baseUrl.html")
    <!--<meta charset="utf-8">
    <base href="http://localhost/lotusprizeWeb2014/">
    <title>2014第四届“芙蓉杯”国际工业设计创新大赛</title>
    <link rel="shortcut icon" href="images/app/favicon.png" mce_href="images/app/favicon.png" type="image/x-png">-->

    <link type="text/css" rel="stylesheet" href="css/lib/jquery.toastmessage.css">
    <link type="text/css" rel="stylesheet" href="css/src/common.css">
    <script type="text/javascript" src="js/lib/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.toastmessage.js"></script>
    <script type="text/javascript" src="js/lib/juicer-min.js"></script>
    <script type="text/javascript" src="js/src/config.js"></script>
    <script type="text/javascript" src="js/src/user/topicView.js"></script>
    <script type="text/javascript" src="js/src/baiduAnalytics.js"></script>
    <script>
        var href="";
        var stage="${stage}";
    </script>
</head>
<body class="wpBody">
<script type="text/template" id="selectedElTpl">
    <li><a href="#" class="${className}" data-value="${dataValue}">${text}</a></li>
</script>
<script type="text/template" id="topicArrayTpl">
    {@each topicArray as topic}
    <li class="item">
        {@if stage==2}
        <a href="s/user/artifact/create?topicId=${topic.id}" class="tip">上传作品</a>
        {@/if}
        <a href="s/topic/view/${topic.id}" target="_blank">
            <img src="${topic.profile}" class="thumb">
            <p class="infoRow">
                <img src="${topic.corpLogo}" class="companyLogo">
                <span class="verMiddleContainer">
                    <span class="spanTxt companyName" title="${topic.corpName}">${topic.corpName}</span>
                    <span class="spanTxt money right">
                        {@if topic.reward==0}
                        实习
                        {@else}
                        &yen;${topic.reward}
                        {@/if}
                    </span>
                </span>
            </p>
            <p  class="infoRow lastInfoRow">
                <span class="title spanTxt" title="${topic.name}">${topic.name}</span>
                <span class="spanTxt right">${topic.category}</span>
            </p>
        </a>
    </li>
    {@/each}
</script>

#parse("/wpHeader.html")

<div class="content wpContent">
    <div class="contentHeader">
        <div class="row">
            <span>请参照<a href="#" id="guide" class="txtGreen">新手上路</a>进行作品上传。</span>
        </div>
        <div class="row">
            <label class="txtGray">类别：</label>
            <a href="#" class="category active" data-category="">全部</a>
            &nbsp;|&nbsp;
            <a href="#" class="category" data-category="1">A1 数字化制造与设计创新</a>
            &nbsp;|&nbsp;
            <a href="#" class="category" data-category="2">A2 智能产品与服务设计创新</a>
            &nbsp;|&nbsp;
            <a href="#" class="category" data-category="3">B 社会创新</a>

            <span class="sortPanel">
                <label class="txtGray">排序：</label>
                <a href="#" class="DES active" data-order-by="jiangjin" id="orderByMoney">奖金</a>
                <!--&nbsp;|&nbsp;
                <a href="#" class="DES init"  data-order-by="shuliang" id="orderByWorkCount">作品数量</a>-->
            </span>

            <input type="text" id="searchTitle" class="searchTxt txt wpSearchTxt" placeholder="搜索标题">

        </div>
    </div>
    <ul class="itemList" id="topicList">
        <!--<li class="item">
            <a href="s/user/artifact/create?topicId=${topic.id}" class="tip">上传作品</a>
            <a href="s/topic/view/${id}">
                <img src="images/app/topicDefaultThumb.jpg" class="thumb">
                <p class="infoRow">
                    <img src="images/app/defaultThumb.jpg" class="companyLogo">
                    <span class="verMiddleContainer">
                         <span class="spanTxt companyName" title="${topic.corpName}">${topic.corpName}</span>
                        <span class="spanTxt money right">&yen;30000</span>
                    </span>
                </p>
                <p  class="infoRow">
                    <span class="title spanTxt" title="${topic.name}">第一个课题</span>
                    <span class="spanTxt right">A1</span>
                </p>
            </a>
        </li>-->

    </ul>
</div>

<!--显示新手上路-->
<div id="popWindow" class="popWindow hidden">
    <div class="toolbar">
        <a href="#" id="closePopWindow">关闭</a>
    </div>
    <div class="workInfo detailPageInfo" id="workInfo">
        <img src="data/step1.jpg">
        <img src="data/step2.jpg">
        <img src="data/step3.jpg">
        <img src="data/step4.jpg">
        <img src="data/step5.jpg">
    </div>
</div>

#include("/footer.html")

</body>
</html>