<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>2014第四届“芙蓉杯”国际工业设计创新大赛协议</title>
    <style>
        .agreementBody{
            margin:0px;
            padding: 0px;
            font-family:"微软雅黑", "黑体", Arial, "Times New Roman", Verdana;
        }
        .agreementTitle{
            text-align: center;
        }
        .agreementBody p{
            line-height: 32px;
        }
    </style>
</head>
<body class="agreementBody">
<div id="agreementBody">
    <h1 class="agreementTitle">参赛细则</h1>
    <h3>一、参赛办法</h3>
    <p>1、参赛资格</p>
    <p>全球任何具有设计创新精神的个人、团体、合法注册企业均可报名参赛或提交设计命题。参赛者自愿遵守活动规则并接受参赛各项条款。</p>
    <p>2、报名方法</p>
    <p>本次大赛参赛作品均在官网上注册提交（http://www.lotusprize.com），5月10日起，参赛者可以开始通过网络注册和提交作品（无需报名费），
        6月30日作品提交截止。</p>
    <p>3、作品提交</p>
    <p>参赛作品一律通过大赛网络系统在线上传，大赛组委会收到后将予以回复。有关要求说明如下： </p>
    <p>①网络提交要求：作品版面A3（420mm×297mm）画幅，横构图，jpg或者png格式，本次大赛作品上传有以下需求：</p>
    <p>1．提供版面精度为72dpi的jpg或者png文件用于网站展示，版面数量不超过3张。</p>
    <p>2．参赛选手必须以附件形式提供作品三视图、作品效果图，其中作品三视图需求无背景的tiff或png格式，横向，精度为300dpi；
        作品效果图（有背景和无背景各一张）A3大小，横向，300dpi。附件内容也可以包括辅助解释作品的ppt文档、视频文件。
        附件文件以作品名称命名，采用zip或rar格式,大小小于200M。</p>
    <p>② 参赛者可以以团体的形式参赛，参赛团队最多为六人。</p>
    <p>③为保证本次大赛评选的公正性，参赛作品及版面上不得出现作者所在单位、姓名（包括英文或拼音缩写）或与作者身份有关的任何图标、图形等个人信息资料。
        组委会将按照设计作品提交的时间顺序进行编号，并提交给评审团。</p>
    <p>说明：附件文件中的素材用于评审、展览、印刷，必须上传！未上传则视为不符合要求，将影响评分。</p>

    <h3>二、评审办法</h3>
    <p>1、评审标准</p>
    <p>应用性：把命题企业应用作为重要的评审标准，能够为企业转化应用、适合工业化批量生产制造；</p>
    <p>创新性：有效利用新技术、新材料、新工艺；概念独特新颖、能提供新的问题解决方案；能引领制造业、信息化、智能化产品及服务设计发展趋势；</p>
    <p>经济性：符合当代技术发展趋势，综合高效利用社会和环境资源，具有较高的商业价值和市场潜力、高性价比的设计与商业模式创新；</p>
    <p>环保性：绿色、低碳、节能、新能源；考虑生态兼容性、对社会及环境的洞察力、思考力和责任，适应于两型社会可持续发展的原则。</p>
    <p>2、评审细则</p>
    <p>① “创新设计优秀奖”评审 </p>
    <p>由各命题企业评委（每家企业1名）和9名专家组评委（分三组，每组3名）担任评审。每一个命题都将根据作品的完成情况评出3件优秀作品，
        预计将选拔150件左右作品（参与少或者完成度不好的可以空缺)。评完之后，大赛组委会组织网络公众投票与公示，得票数排名前六位的作品，
        将授予“网络人气奖”。</p>
    <p>② 孵化项目评选</p>
    <p>由4名国际评委和4名导师担任评审。从150件“创新设计优秀奖”作品中评选出24件作品继续深化设计与孵化。评完之后，由4名导师对参赛者进行辅导，
        大赛组委会将提供模型制作、专利申报等经费资助。 </p>
    <p>③ Demo Day与“芙蓉杯”终评</p>
    <p>由4-8名国际评委和10名互联网评委担任评审。24件入围孵化作品参赛者汇集在长沙，参加“创业导师工作营”。工作营最后一天是Demo Day，
        所有作品面向评委现场公开Demo。评委根据作品的完成度，评出各项年度大奖。10名互联网评委作为风投机构和互联网行业代表，
        还将对作品进行市场评估，探讨转化和孵化机制。大赛组委会将组织相关颁奖及媒体推广活动。</p>

    <h3>三、法律声明</h3>
    <p>所有参赛作品内容需要符合本届大赛的主题和范围，必须是原创作品，作品未在报刊、杂志、网站及其他媒体公开发表，未参加过其它比赛，
        参赛者须保证对其参赛作品拥有完全充分的知识产权，无仿冒或侵害他人知识产权，获奖作品一经发现存在抄袭或其他侵权行为，
        组委会将取消其参赛与获奖资格，收回奖金、奖品、获奖证书，并在有关媒体公布其侵权行为。</p>
    <p>在7月1日进行评审之前，参赛者可向组委会提交书面申请要求撤销其参赛作品，但作品稿件一律不予退回，请自行备份。</p>
    <p>大赛奖项评定数量视参赛作品质量而定，允许部分奖项空缺；若对奖项结果有任何争议，一切均以评审团评审结果为准。</p>
    <p>对于所有获奖作品，奖金个人所得税自理。获奖者接受奖励即意味着将获奖作品相关知识产权完全属于大赛主办方或相关支持企业，
        其中包括但不限于对作品进行复制、散布、展示及演绎等权利，而主办方无需为此向获奖者支付额外费用。获奖者保留对作品的署名权。</p>
    <p>大赛组委会可以联合相关支持企业，对大赛适合的作品择优进行成果转化或专利申请。</p>
    <p>与大赛有直接关系的工作人员不得报名参加比赛。</p>
    <p>在法律允许的范围内，本活动由组委会负责解释。</p>

    <h1 class="agreementTitle">大赛版权申明</h1>
    <h3>一、关于参赛作品</h3>
    <p>1、参赛者的参赛作品必须是本人原创，并且没有在任何场合公开发表过。</p>
    <p>2、参赛作品的作者拥有永久版权。作品涉及的名誉权、著作权、肖像权等法律问题，均由作者自行承担。
        所有参赛者必须声明参赛作品不侵犯第三方著作权，不声明或拒绝声明的将取消参赛资格。如发现参赛作品剽窃、
        侵权或第三方提出权利主张的，大赛组织方有权随时撤销该作品的参赛权、已获得的奖励和荣誉，以及在相关媒体网站上的刊出。
        若大赛主办方因使用该参赛作品遭到第三方的侵权主张而导致处罚、经济或名誉损失的，其结果由该作品的参赛提供者承担。</p>
    <p>3、大赛主办方及合作企业、媒体有权将参赛作品用于与本次大赛相关的宣传、展览、网站展示及宣传品制作等非商业用途，且不付稿酬。</p>
    <h3>二、关于获奖作品</h3>
    <p>1、未接受大赛孵化服务前的获奖作品</p>
    <p>未孵化前的获奖作品，版权属于参赛作者。主办方和作品所投命题企业拥有使用权，主办方和相关企业有权以任何形式展示、传播参赛作品。</p>
    <p>2、接受大赛孵化服务后的获奖作品</p>
    <p>对于通过大赛孵化服务，能够生产销售、实现盈利的作品，大赛主办方和作品所投命题企业拥有作品的使用权；
        其版权由大赛组委会、该作品所投命题企业和作者三方根据实际情况再行商议。各方有购买和出售其版权的权利。</p>
</div>

</body>
</html>