<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    #include("/baseUrl.html")
    <base href="http://localhost/lotusprizeWeb2014/">
    <title>2014芙蓉杯官网-国际工业设计创新大赛</title>
    <link type="text/css" rel="stylesheet" href="css/lib/jquery.toastmessage.css">
    <link type="text/css" rel="stylesheet" href="css/lib/jquery.dataTables.css">
    <link type="text/css" rel="stylesheet" href="css/src/common.css">
    <script type="text/javascript" src="js/lib/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="js/lib/juicer-min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.toastmessage.js"></script>
    <script type="text/javascript" src="js/lib/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="js/src/config.js"></script>
    <script type="text/javascript" src="js/src/admin/userMgr.js"></script>
    <script>
        var href="s/topic/mgr";
    </script>
</head>
<body>

#parse("/header.html")

<section class="main">

    #include("/admin/adminMenu.html")

    <article class="content">
        <section>
            <div class="row">
                <input type="text" class="searchTxt txt" id="searchContent" placeholder="搜索姓名/公司名称">
            </div>
        </section>
        <section>
            <div class="row">
                <a class="btn" href="s/admin/createExpert">新建评委</a>
            </div>
            <table id="judgeTable">
                <thead>
                <tr>
                    <th>姓名</th>
                    <th>邮箱</th>
                    <th>电话</th>
                    <th>组织</th>
                    <th>类型</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <!--<tr>
                    <td><input class="checkRow" type="checkbox"></td>
                    <td>dddddddd</td>
                    <td>dddddddd</td>
                    <td>dddddddd</td>
                    <td>
                        <select class="setTopicStatus rowSelect">
                            <option value="">请选择</option>
                            <option value="d">d</option>
                        </select>
                    </td>
                    <td>298</td>
                    <td><a href="#" class="check">查看</a></td>
                </tr>-->
                </tbody>
            </table>
        </section>
    </article>
</section>
#include("/footer.html")
</body>
</html>