<!DOCTYPE html>
<html>
<head>

    #include("/baseUrl.html")
    <!--<base href="http://localhost/lotusprizeWeb2014/">-->

    <link type="text/css" rel="stylesheet" href="css/lib/jquery.toastmessage.css">
    <link type="text/css" rel="stylesheet" href="css/src/common.css">
    <link type="text/css" rel="stylesheet" href="css/src/admin/topicCreate.css">
    <script src="js/lib/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.toastmessage.js"></script>
    <script type="text/javascript" src="js/lib/plupload.js"></script>
    <script type="text/javascript" src="js/lib/plupload.html5.js"></script>
    <script type="text/javascript" src="js/lib/jquery.form.js"></script>
    <script type="text/javascript" src="js/lib/juicer-min.js"></script>
    <script type="text/javascript" src="js/src/config.js"></script>
    <script type="text/javascript" src="js/src/admin/topicCreate.js"></script>
    <script type="text/javascript">
        var href="s/topic/mgr";
        var medias='$lotusprizeTool.json($!{topic.topicIntroduces})';
    </script>
</head>
<body>

<!--模板-->
<script type="text/template" id="fileTpl">
    <a href="#" class="attachment"><input type="hidden" value="${filepath}" name="attachment">${filename}</a>
</script>
<script type="text/template" id="mediaTpl">
    <li>
        <a class="file" href="${key}">
            <span class="name" title="${filename}">${filename}</span>
            <span class="delete">删除</span>
        </a>
    </li>
</script>

<script type="text/template" id="previewTpl">
    <aside class="leftAside">
        <img class="logo" src="${topicLogo}">
        <span class="companyName" title="${topicCompanyName}">${topicCompanyName}</span>
        <p class="txtGreen reward">&yen;${topicMoney}</p>
        <label class="txtGreen">额外奖励</label>
        <p class="addition">${topicOtherAward}</p>

        {@if topicAttDown}
        <a class="txtGreen" href="${topicAttDown}" target="_blank"  class="download">附件下载</a>
        {@/if}

    </aside>
    <article class="articleContent">

        <h1 class="txtGreen title">${topicTitle}</h1>
        <p>${topicCategory}</p>
        <p class="description">${topicDescription}</p>

        {@each medias as media}
        <div class="descriptionImg">
            <img src="${media.image}">
            {@if media.text}
            <div class="imgInfo">
                <p class="imgInfoContent">${media.text}</p>
                <span class="showMore">^</span>
            </div>
            {@/if}
        </div>
        {@/each}


        <div class="row txtRight">
            <input type="button" id="step3ToStep2" class="btn" value="上一步">
            <input type="submit" id="submitBtn" class="btn" value="提交">
        </div>
    </article>
</script>

#parse("/header.html")
<section class="main">
#include("/admin/adminMenu.html")

<article class="content">
<header class="pageHeader">
    <ul class="step" id="step">
        <li class="active">1.基本信息</li>
        <li >2.上传</li>
        <li>3.预览提交</li>
    </ul>
</header>
<form method="post" action="s/topic/createOrUpdate" id="topicCreateForm">
    <input type="hidden" name="id" value="$!{topic.id}">
    <input type="hidden" name="topicSettingId" value="1">
    <section id="step1" class="stepPanel">
        选择评审
    </section>

    <section id="step2" class="stepPanel hidden">
        选择作品，
        分类、课题自动匹配
    </section>
</form>
</article>
</section>

#include("/footer.html")

</body>
</html>